.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  transition: opacity 0,7s linear 0s;
}
.feynman__link:hover {
  opacity: 0.5;
}